@import "tailwindcss";

html, body {
  height: 100%;
}

body {
  background-color: #f3f4f6; /* gris claro */
  color: #111827; /* gris oscuro */
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fade-in {
  animation: fade-in 0.2s ease-out;
}